{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <!----------------------- Main Container --------------------------->

    <div class="container d-flex justify-content-center align-items-center min-vh-100">

    <!----------------------- Login Container -------------------------->

        <div class="row border rounded-5 p-3 bg-white shadow box-area">

    <!--------------------------- Left Box ----------------------------->

            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
                <div class="featured-image mb-3">
                    <img src="../static/img/login.png" class="img-fluid" style="width: 250px;">
                </div>
                <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">SmartLab</p>
                <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">by: DEADLINE DESTROYERS</small>
            </div> 

    <!--------------------------- Right Box ---------------------------->
        
            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2 class="ms-3">Login!</h2>
                        <p class="ms-3">Welcome!</p>
                    </div>
                    {% if invalid %}
                    <h5>Incorrect email or password!</h5>
                    {% endif %}
                    <form method="POST">
                        <div class="input-group mb-3">
                            <input name="email" id="email" type="email" class="form-control form-control-lg bg-light fs-6" placeholder="Email address" required>
                        </div>
                        <div class="input-group mb-1">
                            <input name="password" id="password" type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password" required>
                        </div>
                        <div class="input-group mb-3 mt-5">
                            <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Login</a>
                        </div>
                    </form>
                    <div class="row"></div>
                        <small>Don't have account? <a href="/sign-up">Sign Up</a></small>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
{% endblock %}